<div>
    <h1>Create new category</h1>

    <label class="item item-input">
        <span class="input-label">Title</span>
        <input type="text">
    </label>

    <label class="item item-input">
        <span class="input-label">Upload Image</span>
        <input type="file"/>
    </label>

    <label class="item item-input">
        <span class="input-label">Upload Audio</span>
        <input type="file"/>
    </label>

    <button class="button button-positive" ng-click="createCategory()">
        Add Category
    </button>
    <button class="button button-positive" ng-click="insert()">
        Add Category
    </button>

    <a href="/#/">Back</a>
</div>