<ion-view view-title="Dashboard">
  <ion-content class="padding">
      <top-bar></top-bar>
    <a href="#/social" class="cope-tile tile-3">
      <img src="img/social.png"/>
    </a>

    <a href="#/personal" class="cope-tile tile-3">
      <img src="img/personal.png"/>
    </a>

    <a href="#/health" class="cope-tile tile-3">
      <img src="img/health.png"/>
    </a>
   
    <a href="#/createPage" class="cope-button">
      <img src="img/create_personal_page.png">
    </a>

    <a href="#/myPages" class="cope-button">
      <img src="img/my_pages.png">
    </a>
  </ion-content>
</ion-view>
