<ion-view view-title="Health">
  <ion-content>
    <div class="cope-nav">
      <a href="#/" class="cope-tile tile-thumb tile-left">
        <img src="img/home.png">
      </a>

      <div class="cope-tile tile-thumb">
        <img src="img/health.png">
      </div>
    </div>

    <a href="#/health/my-body" class="cope-tile tile-4">
        <img src="img/health_my_body.png"/>
    </a>

    <a href="#/health/washing" class="cope-tile tile-4">
      <img src="img/health_washing.png"/>
    </a>

    <a href="#/health/food" class="cope-tile tile-4">
      <img src="img/health_food.png"/>
    </a>
   
    <a href="#/health/food" class="cope-tile tile-4">
      <img src="img/health_sick.png"/>
    </a>

    <a href="#/health/create-page" class="cope-tile tile-4">
      <img src="img/health_create_page.png"/>
    </a>
  </ion-content>
</ion-view>
