<ion-view view-title="Health - Washing - How to">
  <ion-content>
    <div class="cope-nav">
      <a href="#/" class="cope-tile tile-thumb tile-left">
        <img src="img/home.png">
      </a>

      <a href="javascript:history.back()" class="cope-tile tile-thumb tile-left">
        <img src="img/back.png">
      </a>

      <div class="cope-tile tile-thumb">
        <img src="img/health/mybody/how_to.png"/>
      </div>

      <div class="cope-tile tile-thumb tile-right">
        <img src="img/edit.png">
      </div>

    </div>



  </ion-content>
</ion-view>
