<ion-view view-title="Health - Washing - How to">
  <ion-content>
    <div class="cope-nav">
      <a href="#/" class="cope-tile tile-thumb tile-left">
        <img src="img/home.png">
      </a>

      <a href="javascript:history.back()" class="cope-tile tile-thumb tile-left">
        <img src="img/back.png">
      </a>

      <div class="cope-tile tile-thumb">
        <img src="img/health_washing_how_to.png"/>
      </div>

      <div class="cope-tile tile-thumb tile-right">
        <img src="img/edit.png">
      </div>

    </div>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_tap.png"/>
    </a>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_wet.png"/>
    </a>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_soap.png"/>
    </a>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_rub.png"/>
    </a>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_rinse.png"/>
    </a>

    <a href="#/health/washing/how-to" class="cope-tile tile-6">
        <img src="img/health_washing_how_to_dry.png"/>
    </a>


    <a href="https://www.youtube.com/watch?v=zxlQn7KaCNU" class="cope-tile tile-4">
      <img src="img/play_video.png"/>
    </a>
  </ion-content>
</ion-view>
