/**TODO: 300px looks OK but (someone with css skills) might come up with something better than a hard coded height.*/
ion-content {
  text-align: center;
  padding: 1em; }

.cope-nav {
  margin-bottom: 3em; }

.cope-col {
  display: flex; }

.cope-tile {
  display: inline-block;
  border: solid #404040 4px;
  border-radius: 5px;
  background-color: white;
  width: 100%; }

.cope-tile.tile-2 {
  width: 40%;
  margin: 4%; }

.cope-tile.tile-3 {
  width: 25%;
  margin: 4%; }

.cope-tile.tile-4 {
  width: 18%;
  margin: 3%; }

.cope-tile.tile-6 {
  width: 13%;
  margin: 1%; }

.tile-left {
  float: left; }

.tile-right {
  float: right; }

.cope-tile > img {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 15vw; }

.cope-button {
  width: 40%;
  margin: 4%;
  display: inline-block;
  border: solid black 5px;
  background-color: white; }

.cope-button img {
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.bar .settings-icon.button-icon {
  font-size: 100px; }

.bar.settings-icon:before {
  font-size: 100px !important; }

.error-container {
  margin: 5px 0; }

.error-container:last-child {
  margin: 5px 0 0; }

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle; }

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle; }

.info i {
  font-size: 24px;
  color: #2aabd2;
  vertical-align: middle; }

.info {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle; }

.last-error-container > .error {
  padding: 10px 16px 0; }

.modal-form-button {
  margin-top: 20px; }

.modal-input-label {
  padding-right: 10px; }

.howto-title {
  font-size: 2.3vw; }

.category-title {
  font-size: 2.3vw; }

.task-title {
  font-size: 1.7vw; }

.task-desc-box {
  font-size: 1.5vw; }

.cope-list {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
