.top-bar {
	img {
	  margin-left: 50px;
  	  height: 90px;
  	  width: 104px;
	}
	.nav {
      float: left;
    }
    .options {
    	.unmute {
    		background-color: #fad2ab;
    	}
    	.mute {
    		display: none;
    	}
      margin-left: 50px;
  	  float: right;
	}
}
.colour-picker .colour {
	width: 100px;
	height: 100px;
	display: inline-block;
}
