<ion-modal-view class="edit-pin-view">
    <ion-header-bar>
        <h1 class="title">Edit Mode</h1>
    </ion-header-bar>
    <ion-content class="padding">
        <form name="editPinForm" novalidate="" ng-submit="editPinSubmit()">
            <p>Please enter your pin:
                <input type="text" class="edit-pin-input" name="editPinInput" value="" ng-model="pin"
                       ng-trim="false" required>

            <div class="error-container last-error-container" ng-show="!validPin && editPinForm.$submitted">
                <div class="error">
                    <i class="ion-information-circled"></i>
                    Pin incorrect please try again!
                </div>
            </div>
            <button type="submit" class="button edit-pin-submit-button"
                    ng-disabled="!editPinForm.editPinInput.$valid">Submit
            </button>
            <button type="button" class="button button-energized" ng-click="cancelPin()">Cancel
            </button>
            </p>
        </form>

    </ion-content>
</ion-modal-view>