# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
platforms/
plugins/
.DS_Store

www/lib/ionic/scss/_reset.scss

*.scss

www/lib/ionic/scss/_reset.scss

www/lib/ionic/scss/ionicons/_ionicons-font.scss

www/lib/ionic/scss/ionicons/_ionicons-icons.scss
