$pastel-blue: #AEC6CF;
$pastel-pink: #DEA5A4;
$pastel-purple: #B39EB5;
$pastel-red: #FF6961;
$dark-pastel-purple: #966FD6;
$pastel-grey: #CFCFC4;
$dark-pastel-green: #03C03C;
$light-pastel-purple: #B19CD9;
$pastel-magenta: #F49AC2;
$dark-pastel-red: #C23B22;
$pastel-orange: #FFB347;
$pastel-brown: #836953;
$pastel-yellow: #FDFD96;
$pastel-pink2: #FFD1DC;
$pastel-violet: #CB99C9;
$pastel-green: #77DD77;

.pastel-blue {
  background: $pastel-blue;
}

.bar.bar-positive, .pastel-blue .nav-bar-block ion-header-bar {
  border-color: $pastel-blue;
  background: $pastel-blue;
}

.pastel-pink {
  background: $pastel-pink;
}

.bar.bar-positive, .pastel-pink .nav-bar-block ion-header-bar {
  border-color: $pastel-pink;
  background: $pastel-pink;
}

.pastel-purple {
  background: $pastel-purple;
}

.bar.bar-positive, .pastel-purple .nav-bar-block ion-header-bar {
  border-color: $pastel-purple;
  background: $pastel-purple;
}

.pastel-red {
  background: $pastel-red;
}

.bar.bar-positive, .pastel-red .nav-bar-block ion-header-bar {
  border-color: $pastel-red;
  background: $pastel-red;
}

.dark-pastel-purple {
  background: $dark-pastel-purple;
}

.bar.bar-positive, .dark-pastel-purple .nav-bar-block ion-header-bar {
  border-color: $dark-pastel-purple;
  background: $dark-pastel-purple;
}

.pastel-grey {
  background: $pastel-grey;
}

.bar.bar-positive, .pastel-grey .nav-bar-block ion-header-bar {
  border-color: $pastel-grey;
  background: $pastel-grey;
}

.dark-pastel-green {
  background: $dark-pastel-green;
}

.bar.bar-positive, .dark-pastel-green .nav-bar-block ion-header-bar {
  border-color: $dark-pastel-green;
  background: $dark-pastel-green;
}

.light-pastel-purple {
  background: $light-pastel-purple;
}

.bar.bar-positive, .light-pastel-purple .nav-bar-block ion-header-bar {
  border-color: $light-pastel-purple;
  background: $light-pastel-purple;
}

.pastel-magenta {
  background: $pastel-magenta;
}

.bar.bar-positive, .pastel-magenta .nav-bar-block ion-header-bar {
  border-color: $pastel-magenta;
  background: $pastel-magenta;
}

.dark-pastel-red {
  background: $dark-pastel-red;
}

.bar.bar-positive, .dark-pastel-red .nav-bar-block ion-header-bar {
  border-color: $dark-pastel-red;
  background: $dark-pastel-red;
}

.pastel-orange {
  background: $pastel-orange;
}

.bar.bar-positive, .pastel-orange .nav-bar-block ion-header-bar {
  border-color: $pastel-orange;
  background: $pastel-orange;
}

.pastel-brown {
  background: $pastel-brown;
}

.bar.bar-positive, .pastel-brown .nav-bar-block ion-header-bar {
  border-color: $pastel-brown;
  background: $pastel-brown;
}

.pastel-yellow {
  background: $pastel-yellow;
}

.bar.bar-positive, .pastel-yellow .nav-bar-block ion-header-bar {
  border-color: $pastel-yellow;
  background: $pastel-yellow;
}

.pastel-pink2 {
  background: $pastel-pink2;
}

.bar.bar-positive, .pastel-pink2 .nav-bar-block ion-header-bar {
  border-color: $pastel-pink2;
  background: $pastel-pink2;
}

.pastel-violet {
  background: $pastel-violet;
}

.bar.bar-positive, .pastel-violet .nav-bar-block ion-header-bar {
  border-color: $pastel-violet;
  background: $pastel-violet;
}

.pastel-green {
  background: $pastel-green;
}

.bar.bar-positive, .pastel-green .nav-bar-block ion-header-bar {
  border-color: $pastel-green;
  background: $pastel-green;
}

.edit-pin-view {
  width: 400px;
  min-height: 190px;
  left: 36%;
  .scroll-content {
    min-height: 145px;
    input {
      width: 370px;
      border: 1px #CCCCCC solid;
      margin: 10px 0px 10px 0px;
    }
    .error {
      display: block;
      color: #FF0000;
    }
  }
}

.action-sheet .button {
  color: #000000;
}

.item-input > label {
  padding-right: 10px;
}