<ion-modal-view>
    <ion-header-bar>
        <h1 class="title">Add How To</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <p style="text-align: center">
                A How to is a collection of tasks or steps that describe how to do something, it
                can be anything,ie. a how to brush your teeth, how to wash your hands etc. </p>
            <label class="item item-input">
                <label style="padding-right:10px;">Title: </label>
                <input type="text" ng-model="howto.title" placeholder="The title of your new how to">
            </label>

            <label class="item item-input">
                <label style="padding-right:10px;">Video Url: </label>
                <input type="text" ng-model="howto.video" placeholder="The video to embed for your new how to">
            </label>
            <label class="item item-input">
                <label style="padding-right:10px;">Cover Image: </label>
                <input type="file" placeholder="Image"
                       id="howtoimage"
                       onchange="angular.element(this).scope().setFiles(this)"/>
            </label>

            <button class="button button-energized" style="margin-top:20px" ng-click="cancelCreateHowTo()">
                Cancel
            </button>
            <button class="button icon-right ion-checkmark-round button-balanced" style="margin-top:20px"
                    ng-click="addHowTo(howto)">
                <b>Create</b>
            </button>
        </div>

    </ion-content>
</ion-modal-view>