<ion-view view-title="{{howToCtrl.howto.title}}">

    <ion-nav-buttons side="right">

        <a class="button settings-icon button-icon icon ion-ios-home" ui-sref="dashboard" ng-if="!locked">
        </a>

        <a class="button settings-icon button-icon icon ion-ios-gear" ng-click="howToCtrl.showMenu()">
        </a>

    </ion-nav-buttons>

    <ion-content ng-class="colour">

       <span ng-repeat="task in howto.tasks" onclick="this.querySelector('audio').play()">
            <div class="cope-tile tile-4">
                <p class="task-title">{{task.name}}</p>

                <div class="task-desc-box">
                    <p>{{task.description}}</p>
                </div>
                <br>

                <!-- ADD IMAGE -->
                <img ng-src="{{task.image}}"/>

                <audio ng-if="task.audio" preload>
                    <source ng-src="{{task.audio}}"/>
                </audio>
            </div>
        </span>


        <div ng-if="howToCtrl.hasVideo" class="tasks-video">
            <iframe ng-if="howToCtrl.externalVideo" width="420" height="315" ng-src="{{howToCtrl.videoUrl}}"
                    frameborder="0"
                    allowfullscreen></iframe>

            <video ng-if="!howToCtrl.externalVideo" width="420" height="315" controls ng-src="{{howToCtrl.videoUrl}}"/>
        </div>


    </ion-content>
</ion-view>

