<ion-modal-view>
    <ion-content>

        <div class="tasks">
            <p style="text-align: center">
                Add a task for your how to, tasks are the steps which form the how to
                ie. a how to brush your teeth one task would be get your toothbrush</p>

            <div class="list" ng-show="tasks.length > 0" ng-repeat="t in tasks">

                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="{{t.image}}">

                    <h2>{{t.name}}</h2>

                    <p>{{t.description}}</p>
                </a>

            </div>

            <label class="item item-input">
                <label>Task Name: </label>
                <input type="text" ng-model="task.name" placeholder="Task Name">
            </label>
            <label class="item item-input">
                <label>Task Description: </label>
                <input type="text" ng-model="task.description" placeholder="Task Description">
            </label>
            <label class="item item-input">
                <label>Task Image: </label>
                <input type="file" placeholder="Image" id="taskimage"
                       onchange="angular.element(this).scope().setTaskFiles(this)">
            </label>
            <span style="float: right;">

                 <button class="button button-energized" style="margin-top:20px" ng-click="cancelCreateTask()">
                     Cancel
                 </button>

            <button ng-show="!taskModalProcessing" class="button icon-right ion-checkmark-round button-balanced"
                    style="margin-top:20px"
                    ng-click="addTask()">
                <b>Create</b>
            </button>
            <ion-spinner class="spinner-energized" ng-if="taskModalProcessing"></ion-spinner>
            </span>
        </div>


    </ion-content>
</ion-modal-view>