
<div class="top-bar">
	<div class="nav">
		<a href="#/"><img src="../img/home.png"></a>
		<a href="javascript:history.back()"><img src="../img/back.png"></a>
	</div>
	<div class="options">
		<img src="img/mute.png" ng-hide="topbarCtrl.settings.mute" ng-click="topbarCtrl.mute()">
		<img src="img/volume.png" ng-show="topbarCtrl.settings.mute" ng-click="topbarCtrl.mute()">
		<img src="img/colour.png" ng-click="topbarCtrl.colourPicker()">
		<img src="img/lock.png">
	</div>
	<div style="clear: both;">
		
	</div>
</div>
