<ion-view view-title="Dashboard">

    <ion-nav-buttons side="right">

        <a class="button settings-icon button-icon icon ion-ios-gear" ng-click="dashboardCtrl.showMenu()">
        </a>

    </ion-nav-buttons>

    <ion-content ng-class="colour" class="padding">

        <div ng-if="!!dashboardCtrl.categories && dashboardCtrl.categories.length === 0">
            <p>Looks like you don't have any categories yet.</p>

            <button class="button button-block button-calm" ng-click="dashboardCtrl.openDashboardEditor()">
                Create Category
            </button>
        </div>

        <ion-spinner class="spinner-energized" ng-if="!dashboardCtrl.categories"></ion-spinner>

        <div class="row cope-list" ng-if="!!dashboardCtrl.categories && dashboardCtrl.categories.length > 0">
            <a class="col col-25 cope-col" ng-repeat="category in dashboardCtrl.categories"
               href="#/categories/{{category.id}}">
                <div class="cope-tile">
                    <h3 class="category-title">{{category.title}}</h3>
                    <img ng-src="{{category.image}}" alt="{{category.title}}"/>
                </div>
            </a>
        </div>

    </ion-content>
</ion-view>
