<ion-view view-title="{{categoryCtrl.category.title}}">

    <ion-nav-buttons side="right">

        <a class="button settings-icon button-icon icon ion-ios-home" ui-sref="dashboard" ng-if="!locked">
        </a>

        <a class="button settings-icon button-icon icon ion-ios-gear" ng-click="categoryCtrl.showMenu()">
        </a>

    </ion-nav-buttons>

    <ion-content ng-class="colour">

        <div ng-if="!!categoryCtrl.howtos && categoryCtrl.howtos.length === 0">
            <p>Looks like you don't have any How-Tos yet.</p>

            <button class="button button-block button-calm" ng-click="categoryCtrl.openEditor()">
                Create How-To
            </button>
        </div>

        <ion-spinner class="spinner-energized" ng-if="!categoryCtrl.howtos"></ion-spinner>

        <div class="howtoList">
            <a ng-repeat="howto in categoryCtrl.howtos" href="#/howtos/{{howto.id}}" class="cope-tile tile-4">
                <h2>{{howto.title}}</h2>
                <img ng-src="{{howto.image}}"/>
            </a>
        </div>

    </ion-content>
</ion-view>
