/* Empty. Add your own CSS if you like */

ion-content {
    background-color: #fad2ab;
    text-align: center;
    padding: 1em;
}

.cope-nav {
    margin-bottom: 3em;
}

.cope-tile {
    display: inline-block;
    border: solid black 5px;
    background-color: white;
}

.cope-tile.tile-2 {
    width: 40%;
    margin: 4%;
}

.cope-tile.tile-3 {
    width: 25%;
    margin: 4%;
}

.cope-tile.tile-4 {
    width: 18%;
    margin: 3%;
}

.cope-tile.tile-6 {
    width: 13%;
    margin: 1%;
}

.cope-tile.tile-thumb {
    width: 100px; 
    border: solid black 2px;
    margin: 1em;
}

.tile-left {
    float: left;
}

.tile-right {
    float: right;
}

.cope-tile img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.cope-button {
    width: 40%;
    margin: 4%;
    display: inline-block;
    border: solid black 5px;
    background-color: white;
}

.cope-button img {
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

